/**
	@author : Oh Tae Gwan
	@content : 맛집 리스트 페이지 CSS
	@date : 2022-11-08
	@update : 2022-12-02
**/

/** 기본 셋팅 **/
body {
	margin: 0px;
	background-size: cover;
	background-position: center;
}
html, body {
	height: 100%;
}

/** Section 셋팅 **/
section {
	width: 100%;
    height: auto;
}

/** 학식 제목 영역 **/
.school_lunch-wrap {
	width: 100%;
	height: 100%;
	margin-bottom: 10%;
}
.school_lunch-title-area > h2 {
	margin-left: 15%;
	margin-right: 80%;
	margin-top: 5%;
}
.school_lunch-title-area > hr {
	width: 70%;
	height: 2px;
	background-color: black;
	border: 0px;
}

/** 학식 날짜 & 컨트롤러 영역 **/
.school_lunch-date-controller-area {
	text-align: center;
	display: flex;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.school_lunch-date-area > h1 {
	height: auto;
	font-weight: normal;
}
.school_lunch-controller-left-area {
	margin: auto;
	margin-top: 5px;
}
.school_lunch-controller-right-area {
	margin: auto;
	margin-top: 5px;
}
img:hover{
	cursor: pointer;
}

/** 테이블 영역 **/
.school_lunch-table-area {
	padding-left: 15%;
	padding-right: 15%;
}
table {
	border: 1.6px solid #333333;
	border-collapse: collapse;
	width: 100%;
	margin: auto;
}
th, td {
	text-align: center;
	border: 1.6px solid;
	padding: 10px;
}
th {
	height: 50px;
	background-color: #F3F4F8;
}
td {
	height: 110px;
}