/**
	@author : Oh Tae Gwan
	@content : 맛집 상세 페이지 영역 CSS
	@date : 2022-11-08
	@update : 2022-12-01
**/


/** 기본 셋팅 **/
body {
	margin: 0px;
	background-size: cover;
	background-position: center;
}
html, body {
	height: 100%;
}

/** Section 셋팅 **/
section{
	width: 100%;
    height: auto;
}
  
/** 메인 전체 영역 **/
.index-section-wrap{
	display: flex;
	height: 800px;
}

/** 맛집 상세 페이지 **/
.store-detail-review-wrap{
	width: 100%;
	height: 100%;
	margin-bottom: 10%;
}
.store-detail-area {
	display: flex;
	height: 550px;
	overflow-x:hidden;
}

/** 맛집명 영역 **/
.store-detail-name-left-area {
	width: 23.33%;
}
.store-detail-name-left-up-area {
	height: 30%;
}
.store-detail-name-left-up-title-area {
	margin-left: 17%;	
	margin-right: 58%;
	margin-top: 10%; 
}
.store-detail-name-left-up-contents-area {
	width: 55%;
	margin: auto;
	border: 2px solid #B1B1B1;
	padding: 5%;
	text-align: center;
}

/** 메뉴판 영역 **/
.store-detail-menu-left-down-area{
	height: 30%;
}
.store-detail-menu-left-down-title-area {
	margin-left: 17%;
	margin-right: 60%;	
	margin-top: 10%;
}
.store-detail-menu-left-down-contents-area {
	width: 55%;
	margin: auto;
	border: 2px solid #B1B1B1;
	padding: 5%;
	text-align: center;
}

/** 대표메뉴 영역 **/
.store-detail-ceo-menu-center-area {
	width: 23.33%;
}
.store-detail-ceo-menu-center-up-area {
	height: 30%;
}
.store-detail-ceo-menu-center-up-title-area {
	margin-left: 17%;	
	margin-right: 58%;
	margin-top: 10%;
}
.store-detail-ceo-menu-center-up-img-area {
	width: 55%;
	margin: auto;
	border: 2px solid #B1B1B1;
	padding: 5%;
	text-align: center;
}
.store-detail-ceo-menu-center-down-area {
	height: 30%;
}
.store-detail-ceo-menu-center-down-title-area {
	margin-left: 17%;
	margin-right: 60%;	
	margin-top: 10%;
	color: white;
}
.store-detail-ceo-menu-center-down-contents-area {
	width: 55%;
	margin: auto;
	border: 2px solid #B1B1B1;
	padding: 5%;
	text-align: center;
}

/** 위치 영역 **/
.store-map-right-area {
	width: 23.33%;
}
.store-map-right-title-area {
	margin-left: 17%;	
	margin-right: 70%;
	margin-top: 10%;
}
.store-map-right-contents-area {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-left: 60px;
	padding-bottom:100px; 
	diplay: fixed;
}

/** 왼쪽, 오른쪽 여백 영역 **/
.left-blank-area {
	width: 15%;
}
.right-blank-area {
	width: 15%;
}

/** 맛집 리뷰 > 제목 영역 **/
.store-review-title-area > h2 {
	margin-left: 15%;
	margin-right: 78%;
	margin-top: 5%;
}
.store-review-title-area > hr {
	width: 70%;
	height: 2px;
	background-color: black;
	border: 0px;
}

/** 맛집 리뷰 > 평균 점수 & 평점 및 리뷰, 등록 영역 **/
.store-review-table-area > table {
	width: 70%;
	margin: auto;
	padding: 10px;
	/** margin-top: 3%;**/
}
.store-review-table-star-rating-area{
	display: flex;
	
}
#table-padding-css {
	padding-bottom: 8%;
}
.store-review-table-area > table td {
	font-size: 20px;
	padding: 10px;
}
.store-review-table-review-rating-area {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-color: #FF6B19;
	text-underline-position: under;
}
.store-review-table-score-search-area {
	font-size: 20px;
}
.store-review-textarea-area {
	text-align: center;
}
.store-review-textarea-area textarea {
	resize: none;
	font-size: 17px;
	width: 100%;
	height: 100px;
}
.store-review-textarea-btn-area {
	margin: auto;
	text-align: center;
	padding: 2%;
}
.store-review-textarea-btn-area > input {
	background-color: #1D56A2;
	color: white;
	border: 0;
	outline: 0;
	text-align: center;
	width: 150px;
	padding: 15px;
}
.store-review-textarea-btn-area > input:hover {
	cursor: pointer;
	background: #333333;
}
.store-review-table-review-rating-area p {
	display: inline;
}
.store-review-table-review-rating-area h3 {
	display: inline;
}

/** 별점 영역 **/
fieldset{
	margin-left: -17px;
	margin-top: 18px;
}
#star-rating{
	margin-left: 10px;
}
#star-rating fieldset {
	display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
	direction: rtl; /* 이모지 순서 반전 */
	border: 0; /* 필드셋 테두리 제거 */
}
input[type=radio] {
	display: none; /* 라디오박스 감춤 */
}
label {
	font-size: 1em; /* 이모지 크기 */
	color: transparent; /* 기존 이모지 컬러 제거 */
	text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
label:hover {
	text-shadow: 0 0 0 #FF6B19; /* 마우스 호버 */
}
label:hover ~ label {
	text-shadow: 0 0 0 #FF6B19; /* 마우스 호버 뒤에오는 이모지들 */
}
input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 #FF6B19; /* 마우스 클릭 체크 */
}